.nContainer {
  width: 1200px;
  display: flex;
}

.nContainer nav {
  position: absolute;
  right: 0%;
  width: 50%;
}

nav ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  margin-left: 8%;
}

li a {
  text-decoration: none;
  color: black;
}

li:nth-child(5) a {
  background-color: black;
  color: white;
  padding: 30%;
  border-radius: 20%;
}
