.reviewCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reviewSectionTitle {
  margin-top: 70px;
  margin-left: 150px;
  margin-bottom: 10px;
  font-family: Inter;
}
